NEXT_PUBLIC_LIFF_ID=2009444975-WqhF6Iws
NEXT_PUBLIC_LIFF_ID_AGENCY=2009444975-IEqeITxK
NEXT_PUBLIC_LIFF_ID_PROBLEM_SEEKER=2009444975-txhO7Nem
NEXT_PUBLIC_LIFF_ID_AGENCYWEB=2009444975-NsMS2WyX

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DEV_USER_ID=
